* text=auto
*.go text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.sh text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
LICENSE text eol=lf
.gitattributes text eol=lf
go.mod text eol=lf
go.sum text eol=lf
